****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [3]:
# import necessary python libraries
import pandas as pd
import json
from pandas.io.json import json_normalize
import numpy as np

In [4]:
# read the provided json file
file = json.load((open(r'./data/world_bank_projects.json')))

In [5]:
df = pd.read_json(r'./data/world_bank_projects.json')

## 1. Find the 10 countries with most projects

In [6]:
# find the country with most projects by grouping on the countryname and counting the group
df[['countryname','project_name']].groupby('countryname').count().sort_values('project_name',ascending = False).head(10)

                                 project_name
countryname
People's Republic of China                 19
Republic of Indonesia                      19
Socialist Republic of Vietnam              17
Republic of India                          16
Republic of Yemen                          13
People's Republic of Bangladesh            12
Nepal                                      12
Kingdom of Morocco                         12
Republic of Mozambique                     11
Africa                                     11

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [7]:
# normalize the mjtheme_namecode column since there are multiple themes within each project then group by the project and take the count
json_normalize(file,'mjtheme_namecode').groupby('name').count().sort_values('code',ascending= False).head(10)

                                              code
name
Environment and natural resources management   223
Rural development                              202
Human development                              197
Public sector governance                       184
Social protection and risk management          158
Financial and private sector development       130
                                               122
Social dev/gender/inclusion                    119
Trade and integration                           72
Urban development                               47

## 3. Finding empty values and then mapping them to correct theme name based on code

In [8]:
mjtheme = json_normalize(file,'mjtheme_namecode')

In [9]:
themenames = mjtheme.drop_duplicates().sort_values('name',ascending=False).head(11)

In [10]:
unique_theme = dict(zip(themenames.code, themenames.name))

In [11]:
unique_theme

{'9': 'Urban development',
 '5': 'Trade and integration',
 '6': 'Social protection and risk management',
 '7': 'Social dev/gender/inclusion',
 '10': 'Rural development',
 '3': 'Rule of law',
 '2': 'Public sector governance',
 '8': 'Human development',
 '4': 'Financial and private sector development',
 '11': 'Environment and natural resources management',
 '1': 'Economic management'}

In [12]:
mjtheme1 = mjtheme.copy()

In [13]:
mjtheme1['name'] = mjtheme1['code'].map(unique_theme)

In [14]:
mjtheme1.drop_duplicates()

    code                                          name
0      8                             Human development
1     11  Environment and natural resources management
2      1                           Economic management
3      6         Social protection and risk management
4      5                         Trade and integration
5      2                      Public sector governance
8      7                   Social dev/gender/inclusion
11     4      Financial and private sector development
18    10                             Rural development
53     9                             Urban development
252    3                                   Rule of law